* {
    box-sizing: border-box;
    /*ALLE*/
}

html {
    background: #282828;
    /*Temp font*/
    font-family: 'Raleway', sans-serif;
    height: 100%;
    min-height: 100vh;

}

body {
    color: #f0f0f0;
    margin: 0;
    max-width: 100vw;
    min-height: 100%;
    position: relative;
}

.container {
    /*er en default en som får den alt under navbaren*/
    position: relative;
    margin-top: 160px;
    margin-bottom: 50px;
    height: 100%;
    min-height: 100vh;
    /*får rett det under navbaren*/
}

#navbar {
    /* lager en sticky navbar som følger etter på toppen når du scroller nedover*/
    overflow: hidden;
    padding: 2.5em 0;
    width: 100%;
    top: 0;
    /*helt inntil toppen*/
    transition: 0.3s;
    position: fixed;
    /*på skjermen din hele tiden*/
    z-index: 99;
    /*navbaren kommer over alt annet*/
    background: #282828;

}

#navbar-right {
    padding-top: 1em;
    padding: 0 2em
}

#logo {
    vertical-align: middle;
    position: absolute;
    transition: 0.4s;

}

#navbar-right ul {
    list-style-type: none;
    /*float: right;*/
    overflow: hidden;
    /*hvis det kommer noe mer som går utenfor så kuttes det*/
    clear: right;
    text-align: right;

}

#navbar-right li,
a {
    display: inline-block;
    padding: 8px;
    /*    float: left;*/
    text-decoration: none;
    color: #f0f0f0;
    /*    padding: 8px 10px;*/
    font-size: 13.5pt;
    /*  font-family: "Akkurat Light"*/
}

#navbar-right a.active {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #c39c70;
}



#navbar-right li a:hover:not(.active) {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #c39c70;
}

a:hover:not(.active),
.eventText h2:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #c39c70;
}

label[for=toggle] {
    /*fiksing av hvor og hvordan labelen skal stå i den nye navbaren*/
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 60px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    /*gjemmer checkboxen vår som vi har sammenkoblet med labelen siden de har samme ID. Trykker man på labelen trykker man altså på checkboxen*/
    display: none;
}

@media only screen and (max-width: 1020px) {

    /*gjelder for vindu som er under 1020px som er da teksten treffer logoen*/
    label[for=toggle] {
        /*labelen vi har laget som er de 3 barene som skal vises og bli tilgitt en pointeregenskap*/
        display: block;
        cursor: pointer;
        transition: .3s;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    label[for=toggle]:hover {
        /*hover på selve baren*/
        color: #c39c70;
    }

    #logo {
        /*gjør logoen til samme størrelse som javascripten gjør når man scroller nedover*/
        width: 200px;
        padding-top: .9em;
        /*fikser på paddingen en smule for at den skal være på linje*/
    }

    #navbar-right {
        /*    display: none;*/
    }

    #navbar-right ul {
        /*lar denne forsvinne slik at vi får en ny og ryddig navbar*/
        padding-top: 10px;
        text-align: center;
        width: 100%;
        margin: 0;
        display: none;
        padding-left: 0;
    }


    #navbar-right li,
    a {
        /*for å få elementene under hverandre*/
        display: block;
    }

    #toggle:checked + #navbar-right ul {
        /*viser lista vår som vi gjemte når det trykkes*/
        display: block;

    }
}

.abilde {
    /*fjerne all styling på logolinken*/
    all: initial;
    float: left;

}

.abilde:hover {
    cursor: pointer;
}



.eventContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    margin: auto;
    padding: 15px;
    padding-top: 100px;
}




#joinEvent {
    border-left: solid;
    border-left-color: #c39c70;
    border-left-width: 1px;

}

#hostEvent,
#joinEvent {
    width: 100%;
    min-height: 500px;
    text-align: center;
    display: inline-block;
}

#joinEvent {
    /*Whale chef hat compensation in height to align whale images*/
    padding-top: 124px;
}

/* CSS til event form */

* {
    /* If not enabled, text forms span outside element*/
    box-sizing: border-box;
}



.open-button {
    cursor: pointer;
    padding-right: 20px;
}



.form-popup {
    display: none;
    position: absolute;
    border: 3px solid #f1f1f1;
    z-index: 9;
    margin: 0;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hostDinnerForm {

    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);

}

#joinDinnerForm {

    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);

}

/*CSS til popup*/

#hostDinnerForm,
#joinDinnerForm {
    width: 300px;
    position: absolute;

}

.form-popup {
    display: none;
    position: absolute;
    border: 3px solid #f1f1f1;
    z-index: 9;
    margin: 0;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}





.formContainer {

    max-width: 350px;
    padding: 10px;
    background-color: #282828;
}

.formContainer input[type=text],
.formContainer input[type=email],
.formContainer input[type=datetime-local],
.formContainer input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.formContainer input[type=text]:focus,
.formContainer input[type=email]:focus,
.formContainer input[type=datetime-local]:focus .formContainer input[type=date]:focus {
    background-color: #ddd;
    outline: none;
}

.formContainer .btn {
    background-color: #c39c70;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.formContainer .cancel {
    background-color: rgb(211, 68, 68);
}

/* Legger denne under CSS-en den påvirker pga av "specificity"*/
@media only screen and (max-width: 800px) {
    [class*="eventContainer"] {
        display: block;
    }

    [id*="joinEvent"] {
        border-left: none !important;
    }

    [id*="joinDinnerForm"] {
        top: 50% !important;
        left: 50% !important;

    }

    [id*="hostDinnerForm"] {
        top: 50% !important;
        left: 50% !important;

    }

    [class*="open-button"] {
        padding-right: 70px;

    }
}

/* css til Kontakt.html */


content {
    position: absolute;
    text-align: left;
    top: 50px;
    max-width: 450px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}

.kontakt_content{
  /*text-align: center;*/
}

#kp3 {
    border-top: solid #c39c70 1px;
    margin-top: 30px;
    padding-top: 40px;
    width: 90px;
}

/* når skjermen blir mindre enn 600px */

@media only screen and (max-width: 600px) {

    content {

        margin-left: 20px;
        margin-right: 20px;

    }

}

/* css til Footer */

#putfooterhere {
    background-color: #1C1C1C;
    height: 100px;
    width: 100%;
    display: block;
    z-index: 10;
    position: relative;
    clear: both;
    margin-top: 100px;
}

#facebook {
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#instagram {
    position: absolute;
    left: 60px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#footer1 {
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 150px;
    height: 20px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;

}

#footer2 {
    font-size: 8pt;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 60px;
    width: 150px;
    text-align: center;

}

/*CSS til galleri*/

#galleryWrapper {
    position: relative;
    text-align: center;
    margin-top: 240px;
    height: 500px;
    display: none;
}

.galleryContainer {
    position: relative;
    display: inline-block;
    max-height: 460px;
    max-width: 700px;
    overflow: hidden;
    margin: 1px;
    overflow: hidden;
}

.gal_butt {
    position: absolute;
    bottom: 0px;
    left: calc(50vw - 80px);
}

.gal_butt button {
    height: 25px;
    width: 80px;
    background-color: dimgray;
    border: none;
}

.mySlides {
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
}


.bildeWrapper {
    padding: 0 2em;
    text-align: center;
}

.bildeWrapper ul{
    margin: 0 auto;
    padding-left: 0;
    columns: 4;

}

.bildeWrapper ul li{
    margin: 25px;
    display: inline-block;
    vertical-align: top;


}

.bildeli {
    width: 238px;
}

.gal1 {

    background: url("../img/gallery/dumplings.jpg") center;
    background-size: cover;
    height: 328px;

}

.gal2 {

    background: url("../img/gallery/fries.jpg") center;
    background-size: cover;
    height: 361px;
}

.gal3 {
    background: url("../img/gallery/sushi3.jpg") center;
    background-size: cover;
    height: 372px;
    ;
}

.gal4 {
    background: url("../img/gallery/hånd i suppe.jpg") center;
    background-size: cover;
    height: 369px;
}

.gal5 {
    background: url("../img/gallery/granat.jpg") center;
    background-size: cover;
    height: 203px;
}

.gal6 {
    background: url("../img/gallery/kebab_spyd.jpg") center;
    background-size: cover;
    height: 304px;

}

.gal7 {
    background: url("../img/gallery/lime.jpg") center;
    background-size: cover;
    height: 250px;

}

.gal8 {
    background: url("../img/gallery/glass.jpg") center;
    background-size: cover;
    height: 357px;

}

.gal9 {
    background: url("../img/gallery/frokost.jpg") center;
    background-size: cover;
    height: 357px;

}


/*@-------------------------------------------------------------------*/

/* css til oppskrifter (ikke oversigten)*/

.oppskrift_wrapper,
.ukasrett_wrapper {
    position: relative;
    width: 950px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 40px;
    margin-bottom: 800px;
    padding-top: 1px;


}

.oppskrift_title h1 {
    font-size: 2.3em;
    margin: 0;
}

.oppskrift_title p {
    font-size: 0.8em;
    margin: 20px 0px 20px 0px;
}

.oppskrift_fremgangsmåte {
    position: absolute;
    left: 470px;
}

.oppskrift_fremgangsmåte li {
    list-style-type: none;
    margin-left: -40px;
    padding-bottom: 0.7em;

}


.oppskrift_bilde img {
    float: left;
    width: 400px;
    margin-bottom: 20px;
}



/* Ukas rett css */

/*se under oppskrifter for wrapper*/

.ukasrett_title {
    float: right;
    width: 450px
}

.ukasrett_title h1 {
    font-size: 3em;
    margin: 0;
}

.ukasrett_title p {
    font-size: 0.9em;
    margin: 20px 0px 20px 0px;
}

.ukasrett_title img {
    width: 400px;
}

.ukasrett_fremgangsmåte {
    width: 450px;
    margin-top: 20px;
}

.ukasrett_fremgangsmåte li {
    list-style-type: none;
    margin-left: -40px;
    padding-bottom: 0.7em;
}

.ukasrett_fremgangsmåte p:first-of-type {
    margin-top: 7px;
    margin-bottom: 28px;
}


/*UKASRETT & OPPSKRIFT media queries til skermer under 500 px*/

@media screen and (max-width: 500px) {

    .oppskrift_wrapper,
    .ukasrett_wrapper {
        width: 90vw;
        top: 40px;
        margin: auto;
    }

    .ukasrett_title img,
    .oppskrift_bilde img {
        width: 100%;
        max-width: 500px;
    }

    .ukasrett_fremgangsmåte,
    .oppskrift_fremgangsmåte {
        position: static;
        width: 100%;
    }
}

/* OPPSKRIFT-OVERSIKT css*/

#categories {
    text-align: center;
    padding:8px;
}


#categories li {
    list-style-type: none;
    display: inline-block;
    padding: 8px;
    overflow: hidden;
    font-size: 1em;
}

.ctg_selector{
  color: #898988;
  transition: 0.3s;

}


.ctg_selector.active,
.category a:hover,
.category > p:hover, .ctg_selector:hover{
  text-decoration: underline;
  text-decoration-color: #c39c70;
  cursor: pointer;
}

.ctg_selector:hover{
  color: #f0f0f0;
}

.category {
    height: 570px !important;
}


.category a p {
    font-size: 1.2em;
    margin-bottom: 0;

}

.category > p {
    font-size: 0.8em;
    padding: 8px 6px 8px 10px;
    float: left;
}


/*TIPS OG TRIKS CSS */

.row div {
    float: left;
    box-sizing: border-box;
    height: 360px;
    width: 300px;
    margin: 20px 20px 15px 20px
}


.row div a,
.row div img {
    width: 100%;
}


.row p {
    font-weight: bold;
}



/*centrerer tipsa når der er 4, 3, 2 eller 1 bilde på rad*/

.row {
    margin-left: calc((100vw - 1320px)/2 - 20px);
}

@media screen and (max-width: 1360px) {
    .row {
        margin-left: calc((100vw - 980px)/2 - 20px);
    }
}

@media screen and (max-width: 1020px) {
    .row {
        margin-left: calc((100vw - 640px)/2 - 20px);
    }
}

@media screen and (max-width: 680px) {
    .row {
        margin-left: calc((100vw - 300px)/2 - 20px);
    }
}



/*TIPS OG TRIKS content sider css*/

.tip-cont {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 200px;
    min-height: 100vh;
}


.tip-pic {
    width: 40%;
    float: left;
    margin-top: 50px
}

.tip-text {
    width: 40%;
    float: right;

}

.tip-text h3 {
    font-size: 3em
}

/*tips og triks content sider mindre enn 700px*/

@media only screen and (max-width: 700px) {

    .tip-cont {

        margin-left: 0;
        margin-right: 0;
        margin-top: 200px;
        min-width: 100%;
    }

    .tip-pic {

        margin-left: 20%;
        margin-right: 20%;
        min-width: 60vw;


    }

    .tip-text {

        margin-left: 20%;
        margin-right: 20%;
        padding-left: 10px;
        min-width: 60vw;


    }

    .tip-text h3 {
        font-size: 2em
    }


}





/* FORSIDE CSS */
.bb {
    height: 70vh;
    background: url("../img/hjem/biffen2.jpg") center;
    /*slik at coverbildet har en fixed og */
    background-size: cover;
}

.bb-content {
    position: absolute;
    left: 50%;
    /*sentrerer sammen med #boks left: -50%*/
    top: 85%;
}

#boks {
    position: relative;
    /*knapp til påmeldingssiden*/
    left: -50%;
    padding: 0.5em 1em;
    border: 1px solid #f0f0f0;
    transition: 0.3s;
}

#boks:hover {
    /* når musa er over boksen*/
    cursor: pointer;
    color: black;
    background: #f0f0f0;
}

#aboks {
    all: initial;
    color: #f0f0f0;
    font-family: 'Raleway', sans-serif;
}

.forside_innhold {
    padding: 0 2em;
    overflow: auto;
}

.container_hjem {
    position: relative;
    margin-top: 160px;
}

#tittel_h {
    float: right;
    /*width: 575px;*/
    width: 50%;
    font-size: 28pt;
    margin-bottom: 0;
}

#brødtekst_h {
    padding-top: 190px;
    width: 48%;
    /*width: 500px;*/
    float: left;
    font-size: 24pt;

}

.bilde1 {
    /*siden CSS-Grid eller lignende måter å sette opp et gridsystem ikke er lov så kjører vi en manuell versjon ved kun hjelp av float og margin attributtr*/
    /* bestemmer bredden som vi lagde fra mockupsene*/
    /*    width: 575px;
    height: 650px;*/
    width: 50%;
    /*aspect ratio som er hentet fra width og height over*/
    padding-bottom: 56.7%;
    float: right;
    clear: right;
    margin-top: -20px;
    /*plasserer de slik de ser ut på mockupsene*/
    background: url("../img/hjem/1.jpg") center;
    /*setter hele bildet i en div*/
    background-size: cover;
    /*skalerer bildet så stort som mulig uten å stretche bildet*/
}

.tekst1 {
    /*lager også en manuell tekstboks for hver bildediv for å gjøre det enklere og ryddig*/
    width: 50%;
    /*  width: 575px;*/
    height: 50px;
    float: right;
    clear: right;
    padding-right: 61px;
}

.bilde2 {
    width: 28%;
    padding-bottom: 42%;
    /*  width: 315px;
    height: 480px;*/
    float: left;
    clear: left;
    margin-left: 130px;
    margin-top: -325px;
    ;
    background: url("../img/hjem/2.jpg") center;
    background-size: cover;
}

.tekst2 {
    width: 315px;
    height: 50px;
    float: left;
    clear: left;
    margin-left: 130px;
    padding-right: 50px;
}

.bilde3 {

    /*  width: 430px;
    height: 545px;*/
    width: 40%;
    padding-bottom: 50%;
    float: right;
    clear: left;
    margin-right: 220px;
    margin-top: 20px;
    background: url("../img/hjem/3.jpg") center;
    background-size: cover;
}

.tekst3 {
    width: 40%;
    height: 50px;
    float: right;
    clear: left;
    margin-right: 220px;
    /*margin-left: 465px;*/
    padding-right: 80px;
}


.bilde4 {
    /*  width: 325px;
    height: 460px;*/
    width: 29%;
    padding-bottom: 39.9%;
    float: left;
    clear: left;
    margin-top: -320px;
    background: url("../img/hjem/4.jpg") center;
    background-size: cover;
}

.tekst4 {
    width: 325px;
    height: 50px;
    float: left;
    clear: left;
    padding-right: 89px;
}

.bilde5 {

    /*height: 465px;
    width: 755px;*/
    width: 65%;
    padding-bottom: 39%;
    float: right;
    clear: left;
    margin-right: 65px;
    /*margin-left: 325px;*/
    margin-top: 30px;
    background: url("../img/hjem/5.jpg") center;
    background-size: cover;
}

.tekst5 {
    width: 65%;
    height: 50px;
    float: right;
    clear: left;
    margin-right: 65px;
}


.ahjem {
    all: initial;
    color: #f0f0f0;
    font-size: 13pt;
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
    text-underline-position: under;
}

.ahjem:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1136px) {
    /*for å gjøre den responsiv så deler vi den opp i to deler --> 1.DEL*/


    #tittel_h,
    #brødtekst_h,
    .bilde1,
    .bilde2,
    .bilde3,
    .bilde4,
    .bilde5,
    .tekst1,
    .tekst2,
    .tekst3,
    .tekst4,
    .tekst5 {
        float: none;
        margin-top: 0;
        margin-bottom: 30px;
        padding-top: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        padding-left: 0;
        width: 80%;
    }

    .forside_innhold {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;

    }

    @media only screen and (max-width: 785px) {
        /*2. DEL*/

        .bilde1,
        .bilde2,
        .bilde3,
        .bilde4,
        .bilde5,
        .tekst1,
        .tekst2,
        .tekst3,
        .tekst4,
        .tekst5 {
            width: 90%;
            margin-bottom: 15px;
            text-align: left;
            padding-right: 0;
            padding-left: 0;
            font-size: 9pt;
        }

        .ahjem {
            font-size: 9pt;
        }

        .bilde5 {
            height: 200px;
        }

        .bilde1,
        .bilde2 {
            height: 400px;
        }

        .bilde3 {
            height: 300px;
        }

        .bilde4 {
            height: 350px;
        }

        #tittel_h {
            font-size: 15pt;
            width: 90%;
        }

        #brødtekst_h {
            font-size: 11pt;
            width: 90%;

        }

    }

    /*-------------------------------------------------------------*/

/* DETTE ER FOR BILDEGALLERI */
    @media only screen and (max-width: 1050px) {
      .bildeWrapper ul.bildeGrid {
        columns: 3;
      }

    @media screen and (max-width: 780px) {
        .bildeWrapper ul.bildeGrid {
          columns: 2;
      }

    @media screen and (max-width: 540px) {
    .bildeWrapper ul.bildeGrid {
        columns: 1;
      }
/*----------------------------------------*/
