/*TIPS OG TRIKS CSS with thanks to https://www.w3schools.com/howto/howto_css_images_side_by_side.asp */


div.column {
    float: left;
    box-sizing: border-box;
    height: 420px;
    width: 300px;
    margin: 20px 20px 15px 20px
    
}

.row div a, .row div img {
    width: 100%;
}

.category{
    display: none;
}

.row {
    margin-left: calc((100vw - 1320px)/2 - 20px);
}

@media screen and (max-width: 1360px) {
    .row {
        margin-left: calc((100vw - 980px)/2 - 20px);
    }
}

@media screen and (max-width: 1020px) {
    .row {
        margin-left: calc((100vw - 640px)/2 - 20px);
    }
}

@media screen and (max-width: 680px) {
    .row {
        margin-left: calc((100vw - 300px)/2 - 20px);
    }
}